# Ignore large binary files and database/model files
*.db
*.bin
*.ckpt
# Media files
*.png
*.mp4
*.jpg
*.jpeg
*.gif

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Generated directories
*/VideoFrames/
*/OrientationPlots/

# Binary files
*.so
*.zip

# Other
.DS_Store
venv
2b_project/group8_p2b/p2phaseb_colmap/colmap/database.db
2b_project/group8_p2b/p2phaseb_colmap/colmap/sparse/0/images.bin
2b_project/group8_p2b/p2phaseb_colmap_splat/p2phaseb_colmap/splatfacto/2025-10-07_134702/nerfstudio_models/step-000029999.ckpt
