# Media files
*.png
*.mp4
*.jpg
*.jpeg
*.gif

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Generated directories
*/VideoFrames/
*/OrientationPlots/

# Binary files
*.so
*.zip

# Other
.DS_Store
